<html>
    <head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700" type="text/css">
		
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" crossorigin="anonymous">
		<link href="css/ArmyBuilder.css" rel="stylesheet" type="text/css">
		<title>Army Builder</title>
	</head>
    
	<body  ng-app="armyBuilder" ng-controller="builderCtrl">
		<h1>Army Builder</h1>
		
		<p>Upload an existing army file</p>
			<input type="file" accept='text/plain' ng-model="uploadFile" onchange="angular.element(this).scope().onUploadFile()" id="UploadArmyInput" />
		<br>
			<div ng-if="myArmyArray.length > 0">
				<button ng-click="downloadArmyFile()">Download your army</button>
			</div>
		<br>
		
		OR
		<br>
		<span>
			Select a game: <select ng-model="selectedGame" ng-options="game.Name for game in games"></select>
		</span>
		<!-- TODO: New, Save, Load buttons-->
		<div ng-if="selectedGame">
			You selected {{selectedGame.Name}}
		</div>
		
			<select 
				ng-model="selFac"
				data-ng-attr-size="{{availUnits ? availUnits.length : 6}}"
				ng-change="processUnits()"
				ng-options="x as x.Name for x in selectedGame.Factions"
				multiple>
			</select>

			<select 
				data-ng-attr-size="{{availUnits.length}}"
				ng-show="selFac"
				ng-model="selUnit"
				ng-options="x as x.Name + addSpaces(x.Name) + x.Cost disable when x.disabled for x in availUnits"
				 multiple>
			</select>
			
			<button ng-click="addUnit()" type="button" class="btn btn-default btn-sm">
			Add   <span class="glyphicon glyphicon-plus-sign"></span>
			</button>
			<br><br>			
			<span><h3>Total Army Cost: {{calculateArmyCost()}}</h3></span>
			<div class="section">
				<div class="unit" ng-repeat="unit in myArmyArray">
					<div class="unitHeader">
						<span class="glyphicon glyphicon-remove remove" title="Remove" ng-click="removeFromArmy(unit)">  </span><span>  {{unit.Name}}</span><span><b> {{calculateUnitCost(unit)}}</b></span>
					</div>
					<div class="level2Item">
						<h6 ng-show="unitAbilityExists(unit)" class="Subheading">Abilities</h6>
							<div class="level2Item" ng-repeat="ability in unit.Abilities">
								<span class="abilityName">{{getAbility(ability).Name}}: </span><span>{{getAbility(ability).Text}}</span>
							</div>
						<h5 ng-show="unitAddonExists(unit)" class="Subheading">Unit Add Ons</h5>
						<div class="level2Item" ng-repeat="addon in unit.AddOns">
							<span ng-show="getAddon(addon).Level == 'Unit'"><span><input ng-disabled="shouldDisableUnitAddOn(unit, addon)" ng-model="checked" ng-click="setAddOnCost(checked, unit, addon)" type="checkbox"></input> </span><span>{{getAddon(addon).Text}}</span><span> Cost: {{calculateAddOnCost(getAddon(addon), unit)}}</span></span>
						</div>
						<h5 class="Subheading">Models: ({{unit.NumberOfModels}})</h5>
						<div ng-repeat="model in models[unit.Name] track by $index">
							<p class="modelName">{{model.Name}}</p>
							<div class="modelBody">
								<h6 ng-show="unitHasGear(unit)" class="Subheading">Gear</h6>
								<div class="level2Item" ng-repeat="item in model.Gear track by $index">
									<span>{{getGear(item).Name}}</span><span> Cost: {{getGear(item).Cost}}</span>
									<div ng-show="itemAbilityExists(item)" class="subtext"><br>{{getGear(item).Ability}}</div>
								</div>
								<h6 ng-show="modelAddonExists(unit)" class="Subheading">Model Add Ons</h6>
								<div class="level2Item" ng-repeat="addon in model.AddOns">
									<span ng-show="getAddon(addon).Level =='Model'"><span><input ng-model="checked" ng-click="setAddOnCost(checked, unit, addon, model)" type="checkbox"></input> </span><span>{{getAddon(addon).Text}}</span><span> Cost: {{calculateAddOnCost(getAddon(addon), unit)}}</span></span>
								</div>
								<h6 ng-show="powerExists(unit)" class="Subheading">Psychic Powers</h6>
								<div class="level2Item" ng-repeat="power in model.Powers.Known">
									<span>
										<span class="skillName">{{getPower(power).Name}}: </span>
										<span>{{getPower(power).Text}}</span></span>
								</div>
								<div class="level2Item" ng-repeat="option in model.Powers.Options track by $index">
									<span class="level2Item instructions">Choose {{option.Amount}}:<br></span>
									<div class="level2Item" ng-repeat="power in option.From">
										<span>
											<input ng-model="checked" ng-click="setChosenPower(checked, unit, power, model, $parent.$index)" ng-disabled="ShouldDisablePower(unit, power, model, $parent.$index, option.Amount, checked)" type="checkbox"></input>
											<span class="skillName">{{getPower(power).Name}}: </span>
											<span>{{getPower(power).Text}}</span></span>
										 </span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
<br><br>
		<!--Load JS files-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<script src="js/ngComponents.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.15/angular-filter.min.js"></script>
	</body>
</html>