<html>
    <head>
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700" type="text/css">
		
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" crossorigin="anonymous">
		<link href="css/ArmyBuilder.css" rel="stylesheet" type="text/css">
		<title>Army Builder</title>
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

		
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.5,user-scalable=yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="HandheldFriendly" content="true">
	</head>
    
	<body  class="transparent" ng-app="armyBuilder" ng-controller="builderCtrl">
		<h1>Army Builder</h1>
		
		
		<div class="panel panel-default transparent">
			<h1 class="panelText transparent">Upload is in beta</h1>
			<p>Upload an existing army file</p>
			<input type="file" class="padAfter" accept='.rme' ng-model="uploadFile" onchange="angular.element(this).scope().onUploadFile()" id="UploadArmyInput" />
			<button ng-disabled="shouldDisableDownloadButton()" ng-class="{'disabledButton': shouldDisableDownloadButton()}" ng-click="downloadArmyFile()">Download your army</button>
		</div>

		<p class="centered">OR</p>
		<span>
			Select a game: <select ng-model="selectedGame" ng-options="game.name for game in games"></select>
		</span>
		<hr>
		<div ng-if="selectedGame">
			<p>You selected {{selectedGame.name}}</p>
		</div>
		
		<span>Select faction(s)</span><span style="margin-left:2em;" ng-show="selectedFactions">Select unit(s)</span>
		<div class="top-aligned">
			<select
				style="font-family:monospace"
				ng-show="selectedGame"
				ng-model="selectedFactions"
				ng-change="getUnitsFromFactionsAync(selectedFactions)"
				data-ng-attr-size="{{Math.max(6, availUnits ? availUnits.length : 6)}}"
				ng-options="faction as faction.name for faction in availableFactions"
				multiple>
			</select>
		<!-- <button ng-click="getUnitsFromFactionsAync(selFac)">TEST BUTTON</button> -->
				<!-- ng-change="processUnits()" TODO IS THIS NECESSARY -->

			
			<select
				style="font-family:monospace"
				data-ng-attr-size="{{availableUnits.length}}"
				ng-show="selectedFactions"
				ng-model="selectedUnits"
				ng-options="unit as getUnitBaseName(unit) + addSpaces(unit.name) + unit.cost for unit in availableUnits"
				 multiple>
			</select>

			
		</div>
			<button ng-click="addUnitsV2(selectedUnits)" type="button" id="addButton" class="btn btn-default btn-sm">
				Add   <span class="glyphicon glyphicon-plus-sign"></span>
			</button>
			<hr>
			<span><h3 class="centered">Total Army Cost: {{calculateArmyCostV2()}}</h3></span>
			<div class="section">
				<div class="unit" ng-repeat="unit in myArmyV2 track by $index">
					<div class="unitHeader">
						<span class="glyphicon glyphicon-remove remove" title="Remove" ng-click="removeFromArmyV2(unit)">  </span><span>  {{unit.name}}</span><span><b> {{calculateUnitCostV2(unit)}}</b></span>
					</div>
					<div class="level2Item">
						<h6 class="Subheading">Abilities</h6>
							<div class="level2Item" ng-repeat="ability in unit.abilities">
								<span class="abilityName">{{ability.name}}: </span><span>{{ability.text}}</span>
							</div>
						<h5 ng-show="unit.addons && unit.addons.length" class="Subheading">Unit Add Ons</h5>
						<div class="level2Item" ng-repeat="addon in unit.addons track by $index">
							<span>
								<span>
									<span>
										<input
											type="checkbox"
											id="{{getAddOnId(true, unit.name, $index)}}"
											ng-disabled="shouldDisableUnitAddOn(unit, addon)"
											ng-model="checked"
											ng-click="takeAddon(checked, unit, addon, null,$index)">
										</input>
									</span>
								</span>
								<span>{{addon.text}}</span>
								<span> Cost: {{calculateAddOnCost(addon, unit)}}</span>
								<div ng-show="checked && addon.times > 1">
									<label>Times taken</label>
									<input ng-init="addon.timesTaken = 1" ng-change="changeUnitAddonTimes(unit, addon, addon.timesTaken)" style="width:40" ng-model="addon.timesTaken" type="number" max="{{addon.times}}" min="1" ></input>
								</div>
							</span>
						</div>
						<h5 class="Subheading">Models: ({{unit.numberOfModels}})</h5>
						<div ng-repeat="model in models[unit.name] track by $index">
							<p class="modelName">{{model.name}}</p>
							<div class="modelBody"> 
								<h6 ng-show="model.gear && model.gear.length" class="Subheading">Gear</h6>
								<div class="level2Item" ng-repeat="item in model.gear track by $index">
									<span>{{item.name}}</span>
									<span> Cost: {{item.cost}}</span>
									<div ng-show="item.text && item.text.length" class="subtext"><br>{{item.text}}</div>
								</div>
								<h6 ng-show="model.addons && model.addons.length" class="Subheading">Model Add Ons</h6>
								<div class="level2Item" ng-repeat="addon in model.addons track by $index">
										<span>
											<input
												id="{{getAddOnId(false, model.Name, $index)}}"
												ng-model="checked" 
												ng-click="setAddOnCost(checked, unit, addon, model, $index)"
												ng-disabled="!replacementItem && shouldDisableModelAddon(model, addon, checked)"
												type="checkbox">
											</input>
										</span>
										<span>{{addon.text}}</span>
										<span> Cost: {{calculateAddOnCost(addon, unit)}}</span>
										<div ng-show="addon.typeid === AddonTypes.ReplaceItemFromSet" ng-init="PopulateItemsForSet(addon.itemSetId, replacementItem)">
											<select
												ng-disabled="checked"
												ng-if="itemSets[addon.itemSetId].length"
												ng-change="updateItemCost(addon, replacementItem)"
												style="font-family:monospace; margin-left:2%"
												ng-model="replacementItem"
												data-ng-attr-size="{{itemSets[addon.itemSetId].length + 1}}"
												ng-options="replacement.name for replacement in itemSets[addon.itemSetId]" required>
												<option value="" disabled selected="selected">Choose One</option>
											</select>
								</div>
										</div>
								<h6 ng-show="unit.powers.length" class="Subheading">Psychic Powers</h6>
								<div class="level2Item" ng-repeat="power in unit.powers.known">
									<span>
										<span class="skillName">{{power.name}}: </span>
										<span>{{power.text}}</span></span>
								</div>
								<div class="level2Item" ng-repeat="option in unit.powers.options track by $index">
									<span class="level2Item instructions">Choose {{option.amount}}:<br></span>
									<div class="level2Item" ng-repeat="power in option.from">
										<span>
											<input ng-model="checked" ng-click="setChosenPower(checked, unit, power, model, $parent.$index, $index)" ng-disabled="ShouldDisablePower(unit.name, power, model.name, $parent.$index, option.amount, checked)" type="checkbox" id="{{getPowerId(model.name, $parent.$index, $index)}}"></input>
											<span class="skillName">{{power.name}}: </span>
											<span>{{power.text}}</span></span>
										 </span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
<br><br>
		<!--Load JS files-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<script src="src/armyBuilder.js"></script>
		<script src="src/addonAdjustmentService.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.15/angular-filter.min.js"></script>
	</body>
</html>