<html>
    <head>
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700" type="text/css">
		
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" crossorigin="anonymous">
		<link href="../css/ArmyBuilder.css" rel="stylesheet" type="text/css">
		<title>Army Builder Tools</title>
		
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.5,user-scalable=yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="HandheldFriendly" content="true">
	</head>
    
	<body  class="transparent" ng-app="armyBuilder" ng-controller="builderCtrl">
		<div class="col-md-12">
			<div class="col-md-3"></div>
			<div class="col-md-6 centeredParent">
				<h1 class="centered">Army Builder Tools</h1>
			</div>
			<div class="col-md-3"></div>
		</div>

<div class="col-md-12">
	<div class="col-md-6">
		<div class="banner">
		<span><b>Add new model</b></Span>
			<div class="block">
					<label class="title-label">Name:</label class="title-label">
					<input ng-model="newModelName"></input>
			</div>
			<div class="block" ng-init="myModelGear=[]">	
				<label class="title-label">Gear</label class="title-label">
				<select
						ng-model="gearForModel"
						ng-options="gear as gear.name for gear in allGearV2"
					>
				</select>
				<button ng-click="myModelGear.push(gearForModel)">Add gear</button>
			</div>
			<div class="block" ng-init="myModelAddOns=[]">	
			<label class="title-label">Add ons</label class="title-label">
			<select
					ng-model="addonForModel"
					ng-options="addon as addon.text for addon in allAddonsV2"
				>
			</select>
			<button ng-click="myModelAddOns.push(addonForModel)">Add add on</button>
		</div>
			<div>
				<p>You are adding <b>{{newModelName}}</b></p>
				<p><b>{{newModelName}}</b> will have the following gear:</p>
				<ul>
					<li ng-repeat="gear in myModelGear track by $index">{{gear.name}}
						<button ng-click="myModelGear.splice($index, 1)">X</button>
					</li>
				</ul>
				<p>and will have the following add ons:</p>
				<ul>
					<li ng-repeat="addon in myModelAddOns track by $index">{{addon.text}}
						<button ng-click="myModelAddOns.splice($index, 1)">X</button>
					</li>
				</ul>

				<button ng-click="addModel(newModelName, myModelGear, myModelAddOns) ">Add model</button>
			</div>
		</div>
	
	
	<div class="banner">
		<span><b>Add new unit</b></Span>
		<div class="block">
				<label class="title-label">Game:</label class="title-label">
				<select
					ng-model="gameForNewUnit"
					ng-change="updateFactionsForGameAsync(gameForNewUnit.id)"
					ng-options="game as game.name for game in allGamesV2"
				>
				</select>
		</div>
		<div class="block">
				<label class="title-label">Faction:</label class="title-label">
				<select
					ng-model="factionForNewUnit"
					ng-options="faction as faction.name for faction in currentFactions"
				>
				</select>
		</div>
		<div class="block">
				<label class="title-label">Name:</label class="title-label">
				<input ng-model="newUnitName"></input>
		</div>
		<div class="block">		
			<label class="title-label">Cost per model:</label class="title-label">
			<input type="number" ng-model="newUnitCost"></input>
		</div>
		<div class="block" ng-init="myUnitModels=[]">	
			<label class="title-label">Models</label class="title-label">
			<select
					ng-model="modelForNewUnit"
					ng-change="modelForNewUnit.amount = 1"
					ng-options="model as model.name for model in allModels"
				>
			</select>
			<label class="title-label">How many to add?</label class="title-label">
			<input style="width:40" ng-model="modelForNewUnit.amount" type="number" min="1" ></input>
			<button ng-click="myUnitModels.push(modelForNewUnit)">Add models</button>
		</div>

		<div class="block" ng-init="myUnitAbilities=[]">	
			<label class="title-label">Abilities</label class="title-label">
			<select
					ng-model="abilitiesForNewUnit"
					ng-options="ability as ability.name for ability in allAbilitiesV2"
				>
			</select>
			<button ng-click="myUnitAbilities.push(abilitiesForNewUnit)">Add ability</button>
		</div>
		<div class="block" ng-init="myUnitAddOns=[]">	
			<label class="title-label">Add ons</label class="title-label">
			<select
					ng-model="addonsForNewUnit"
					ng-options="addon as addon.text for addon in allAddonsV2"
				>
			</select>
			<button ng-click="myUnitAddOns.push(addonsForNewUnit)">Add add on</button>
		</div>
		<div class="block" ng-init="myModelPowers=[]">	
			<label class="title-label">Known powers</label class="title-label">
			<select
					ng-model="powerForUnit"
					ng-options="power as power.name for power in allPowersV2"
				>
			</select>
			<button ng-click="myModelPowers.push(powerForUnit)">Add power</button>
		</div>
		<div class="block" ng-init="myModelSets=[]">
			<label class="title-label">Knows how many powers</label class="title-label">
				<input type="number" style="width:50" ng-model="numPowers"></input>
			<div>
				<label class="title-label">From what set?</label class="title-label">
				<select
						ng-model="setForUnit"
						ng-options="set as set.setName for set in allPowerSetsV2"
					>
				</select>
			</div>
			<button ng-click="myModelSets.push({'amount': numPowers, 'from': setForUnit})">Add set</button>
		</div>

		<br><br>
		<div>
			<p>You are adding <b>{{newUnitName}}</b> into <b>{{factionForNewUnit.name}}</b> for <b>{{gameForNewUnit.name}}</b></p>
			<p><b>{{newUnitName}}</b> will cost <b>{{newUnitCost}}</b> and will have the following gear:</p>
			<ul>
				<li ng-repeat="gear in myModelGear track by $index">{{gear.name}}
					<button ng-click="myModelGear.splice($index, 1)">X</button>
				</li>
			</ul>
			<p>and will have the following {{getNumModels(myUnitModels)}} models:</p>
			<ul>
				<li ng-repeat="model in myUnitModels track by $index">{{model.name}}
					<button ng-click="myUnitModels.splice($index, 1)">X</button>
					<ul>With the following gear: (TODO)
						<li ng-repeat="modelItem in model.gear">{{modelItem.name}}(x{{{{modelItem.amount}})</li>
					</ul>
				</li>
			</ul>
			<p>and will have the following abilities:</p>
			<ul>
				<li ng-repeat="ability in myUnitAbilities track by $index">{{ability.name}}
					<button ng-click="myUnitAbilities.splice($index, 1)">X</button>
				</li>
			</ul>
			<p>and will have the following add ons:</p>
			<ul>
				<li ng-repeat="addon in myUnitAddOns track by $index">{{addon.text}}
					<button ng-click="myUnitAddOns.splice($index, 1)">X</button>
				</li>
			</ul>
			<p>and will have the following powers:</p>
			<ul>
				<li ng-repeat="power in myModelPowers track by $index">{{power.name}} {{power}}
					<button ng-click="myModelPowers.splice($index, 1)">X</button>
				</li>
			</ul>
			<p>and will know this many powers from this set</p>
			<ul>
				<li ng-repeat="set in myModelSets track by $index">{{set.amount}} from {{set.from.setName}}
					<button ng-click="myModelSets.splice($index, 1)">X</button>
				</li>
			</ul>
			<button ng-click="addUnit(newUnitName, newUnitCost, factionForNewUnit.id,
									  myUnitAbilities, myUnitAddOns, myModelPowers, myModelSets, myUnitModels) ">Add unit</button>
		</div>
	</div>
	

	
</div>
	<div class="col-md-6" id="column-two">
		<div name="add-game" class="banner">
		<!-- Game -->
			<div>
				<span>Add new game</Span><br>
				<label class="title-label">Name</label>
				<input type="text" ng-model="newGameName"></input>
				<button ng-click="addNewGame(newGameName)">Add</button>
			</div>
			<div>
				<span>Existing games:</span>
				<ul>
					<li ng-repeat="game in allGamesV2">{{game.name}}</li>
				</ul>
			</div>
		</div>
		<!-- Faction -->
		<div name="add-faction" class="banner">
			<div>
				<span>Add new faction</Span><br>
				<label class="title-label">Select a game</label>
				<select
					ng-model="selectedGameIdForAddFaction"
					ng-change="updateFactionsForGameAsync(selectedGameIdForAddFaction)"
					ng-options="game.id as game.name for game in allGamesV2"
				>
				</select>
				<br>
				<label class="title-label">Name</label>
				<input type="text" ng-model="newFactionName"></input>
				<br>
				<button ng-click="addNewFaction(selectedGameIdForAddFaction, newFactionName)">Add</button>
			</div>
			<div>
				<span>Existing factions:</span>
				<ul>
					<li ng-repeat="faction in currentFactions">{{faction.name}}</li>
				</ul>
			</div>
		</div>
		<!-- Gear -->
		<div name="add-gear" ng-init="showGear=false" class="banner">
			<span>Add new gear</Span><br>
			<button ng-click="showGear = !showGear">{{showGear ? "hide" : "show"}}</button>
			<div ng-show="showGear">
				<div>
					<label class="title-label">Name</label>
					<input type="text" ng-model="newGearName"></input>
					<br>
					<label class="title-label">Cost</label>
					<input type="number" ng-model="newGearCost"></input>
					<br>
					<label class="title-label">Type</label>
					<select
						ng-model="selectedGearRange"
						ng-options="range.id as range.rangeType for range in allGearRanges"
						>
					</select>
					<button ng-click="addNewGear(newGearName, newGearCost, selectedGearRange)">Add</button>
				</div>
				<div>
					<span>Existing gear:</span>
					<ul>
						<li ng-repeat="gear in allGearV2">{{gear.name}}</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Abilities -->
		<div name="add-abilities" ng-init="showAbilities=false" class="banner">
			<span>Add new ability</Span><br>
			<button ng-click="showAbilities = !showAbilities">{{showAbilities ? "hide" : "show"}}</button>
			<div ng-show="showAbilities">
				<div>
					<label class="title-label">Name</label>
					<input type="text" ng-model="newAbilityName"></input>
					<br>
					<label class="title-label">Text</label>
					<textarea type="text" ng-model="newAbilityText"></textarea>
					<br>
					<button ng-click="addNewAbility(newAbilityName, newAbilityText)">Add</button>
				</div>
				<div>
					<span>Existing abilities:</span>
					<ul>
						<li ng-repeat="ability in allAbilitiesV2">{{ability.name}}</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Addons -->
		<div name="add-addons" ng-init="showAddons=false" class="banner">
			<span>Add new addon</Span><br>
			<button ng-click="showAddons = !showAddons">{{showAddons ? "hide" : "show"}}</button>
			<div ng-show="showAddons">
				<div>
					<div>
						<label class="title-label">Text</label>
						<textarea type="text" ng-model="newAddonText"></textarea>
					</div>
					<div>
						<label class="title-label">Cost</label>
						<input type="number" ng-model="newAddonCost"></input>
					</div>
					<div>
						<label class="title-label">Type</label>
						<select
							ng-model="selectedAddonTypeId"
							ng-options="addon.id as addon.name for addon in allAddonTypes"
							>
						</select>
						<div ng-show="selectedAddonTypeId === AddonTypesEnum.IncreaseNumberOfModels">
							<label class="title-label">Amount</label>
							<input type="number" ng-model="newAddonAmount"></input>
							<label class="title-label">model to add</label>
							<select
								ng-model="addonModelIdToAdd"
								ng-options="model.id as model.name for model in allModels"
								>
							</select>
						</div>
						<div ng-show="selectedAddonTypeId === AddonTypesEnum.ReplaceItem">
							<label class="title-label">Item to remove</label>
							<select
								ng-model="addonItemToRemove"
								ng-options="item.id as item.name for item in allGearV2"
								>
							</select>
						</div>
						<div ng-show="selectedAddonTypeId === AddonTypesEnum.ReplaceItemFromSet">
							<label class="title-label">Item to remove</label>
							<select
								ng-model="addonItemToRemove"
								ng-options="item.id as item.name for item in allGearV2"
								>
							</select>
							<label class="title-label">Item set to choose from</label>
							<select
								ng-model="addonItemSetToAddFrom"
								ng-options="set.id as set.name for set in allItemSets"
								>
							</select>
							<div>
								<label class="title-label">Amount: how many to add from set?</label>
								<input type="number" ng-model="amount"></input>
							</div>
						</div>
						<div ng-show="selectedAddonTypeId === AddonTypesEnum.ReplaceItem || selectedAddonTypeId === AddonTypesEnum.AddItem">
							<label class="title-label">Item to add</label>
							<select
								ng-model="addonItemToAdd"
								ng-options="item.id as item.name for item in allGearV2"
								>
							</select>
						</div>
						<div>
							<label class="title-label">Is there a limit to the number of times this addon can be taken by models in one unit?</label>
							<input type="number" ng-model="unitLimit"></input>
						</div>
						<div ng-init="myAddonGrants=[]"> 
							<label class="title-label">Does this addon grant any other addons?</label>
							<select
								ng-model="addOnToGrant"
								ng-options="addon.id as addon.text for addon in allAddonsV2"
								>
							</select>
							<button ng-click="myAddonGrants.push(addOnToGrant)">Add grant</button>
							<p>{{newAddonText}} will grant the following addons:</p>
							<ul>
								<li ng-repeat="addon in myAddonGrants track by $index">{{addon.text}}
									<button ng-click="myAddonGrants.splice($index, 1)">X</button>
								</li>
							</ul>
						</div>
					</div>
					<div>
							<label class="title-label">How many times can you take this addon?</label>
							<input type="number" ng-model="newAddonTimes"></input>
					</div>
					<button ng-click="addNewAddon(newAddonText, newAddonCost, selectedAddonTypeId, addonItemToAdd, addonItemToRemove, newAddonAmount, newAddonTimes, addonModelIdToAdd, unitLimit, myAddonGrants, addonItemSetToAddFrom)">Submit</button>
				</div>
				<div>
					<span>Existing addons:</span>
					<ul>
						<li ng-repeat="addon in allAddonsV2">{{addon.text}}</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Addon depends on  -->
		<div name="map-addon-requires" ng-init="showMapAddonRequires=true" class="banner">
			<span>Addon Prerequisites</Span><br>
			<button ng-click="showMapAddonRequires = !showMapAddonRequires">{{showMapAddonRequires ? "hide" : "show"}}</button>
			<div ng-show="showMapAddonRequires">
				<div ng-init="myAddonDependsOn=[]"> 
					<div>
						<label class="title-label">What addon has a requirement?</label>
						<select
							ng-model="mainAddon"
							ng-options="addon as addon.text for addon in allAddonsV2"
							>
						</select>
					</div>
					<div>
						<label class="title-label">What type of requirement is this?</label>
						<select
							ng-model="requirementTypeId"
							ng-options="require.id as require.type for require in addonRequirementTypes"
							>
						</select>
					</div>
					<div ng-show="
							requirementTypeId === AddonRequireTypesEnum.ModelRequiresAddon ||
							requirementTypeId === AddonRequireTypesEnum.UnitRequiresAddon">
						<label class="title-label">What addon needs to be taken first?</label>
						<select
							ng-model="addDependsOn"
							ng-options="addon as addon.text for addon in allAddonsV2"
							>
						</select>
						<button ng-click="myAddonDependsOn.push(addDependsOn)">Add dependency</button>
						<p>{{mainAddon.text}} will depend on the following addons:</p>
						<ul>
							<li ng-repeat="addon in myAddonDependsOn track by $index">{{addon.text}}
								<button ng-click="myAddonDependsOn.splice($index, 1)">X</button>
							</li>
						</ul>
					</div>
					<div ng-show="
							requirementTypeId === AddonRequireTypesEnum.NumberOfModelsInUnit">
						<div>
							<label class="title-label">Minimum number of models in unit for this to be enabled?</label>
							<input type="number" ng-model="min"></input>
						</div>
						<div>
							<label class="title-label">Maximum number of models in unit for this to be enabled?</label>
							<input type="number" ng-model="max"></input>
						</div>
					</div>
					<button ng-click="updateAddonRequirements(mainAddon.id, requirementTypeId, addDependsOn, min, max)">Submit</button>
				</div>

			</div>
		</div>
		

		
		
		<!-- Powers -->
		<div name="add-powers" ng-init="showPowers=false" class="banner">
			<span>Add new power</Span><br>
			<button ng-click="showPowers = !showPowers">{{showPowers ? "hide" : "show"}}</button>
			<div ng-show="showPowers">
				<div>
					<div>
						<label class="title-label">Name</label>
						<input type="text" ng-model="newPowerName"></input>
					</div>
					<div>
						<label class="title-label">Text</label>
						<textarea type="text" ng-model="newPowerText"></textarea>
					</div>
					<button ng-click="addNewPower(newPowerName, newPowerText)">Add</button>
				</div>
				<div>
					<span>Existing Powers:</span>
					<ul>
						<li ng-repeat="power in allPowersV2">{{power.name}}</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Power sets -->
		<div name="add-power-set" ng-init="showPowerSet=false" class="banner">
			<span>Add new power set</Span><br>
			<button ng-click="showPowerSet = !showPowerSet">{{showPowerSet ? "hide" : "show"}}</button>
			<div ng-show="showPowerSet">
				<div class="block" ng-init="powerSetPowers=[]">	
					<div>
						<label class="title-label">Name</label>
						<input type="text" ng-model="newPowerSetName"></input>
					</div>
					<label class="title-label">Powers</label class="title-label">
					<select
							ng-model="powerForSet"
							ng-options="power as power.name for power in allPowersV2"
						>
					</select>
					<button ng-click="powerSetPowers.push(powerForSet)">Add power</button>
				</div>
				<p>{{newPowerSetName}} will have the following powers:</p>
				<ul>
					<li ng-repeat="power in powerSetPowers track by $index">{{power.name}}
						<button ng-click="powerSetPowers.splice($index, 1)">X</button>
					</li>
				</ul>
				<div>
					<span>Existing Power Sets:</span>
					<ul>
						<li ng-repeat="set in allPowerSetsV2">{{set.setName}}
							<ul>
								<li ng-repeat="power in set.powers">{{power.name}}</li>
							</ul>
						</li>
					</ul>
				</div>
				<button ng-click="addNewPowerSet(newPowerSetName, powerSetPowers)">Add</button>
			</div>
		</div>
		<!-- Item sets -->
		<div name="add-item-set" ng-init="showItemSet=false" class="banner">
			<span>Add new item set</Span><br>
			<button ng-click="showItemSet = !showItemSet">{{showItemSet ? "hide" : "show"}}</button>
			<div ng-show="showItemSet">
				<div class="block" ng-init="itemSetItems=[]">	
					<div>
						<label class="title-label">Name</label>
						<input type="text" ng-model="newItemSet"></input>
					</div>
					<label class="title-label">Items</label class="title-label">
					<select
							ng-model="itemForSet"
							ng-options="item as item.name for item in allGearV2"
						>
					</select>
					<button ng-click="itemSetItems.push(itemForSet)">Add item</button>
				</div>
				<p>{{newItemSet}} will have the following items:</p>
				<ul>
					<li ng-repeat="item in itemSetItems track by $index">{{item.name}}
						<button ng-click="itemSetItems.splice($index, 1)">X</button>
					</li>
				</ul>
				<div>
					<span>Existing item Sets:</span>
					<ul>
						<li ng-repeat="set in allItemSets">{{set.name}}
							<ul>
								<li ng-repeat="item in set.items">{{item.name}}</li>
							</ul>
						</li>
					</ul>
				</div>
				<button ng-click="addNewItemSet(newItemSet, itemSetItems)">Add</button>
			</div>
		</div>
		<!-- Gear abilities -->
		<div name="add-gear-ability" ng-init="showGearAbilities=false" class="banner">
			<span>Add gear abilitiy</Span><br>
			<button ng-click="showGearAbilities = !showGearAbilities">{{showGearAbilities ? "hide" : "show"}}</button>
			<div ng-show="showGearAbilities">
				<div class="block">	
					<div>
						<label class="title-label">Ability text</label>
						<input type="text" ng-model="newGearAbilityText"></input>
					</div>
				</div>
				<div>
					<span>Existing gear abilities:</span>
					<ul>
						<li ng-repeat="ability in allGearAbilities">{{ability.text}}
						</li>
					</ul>
				</div>
				<button ng-click="addNewGearAbility(newGearAbilityText)">Add</button>
			</div>
		</div>
		<!-- map Gear abilities -->
		<div name="map-gear-ability" ng-init="showMapGearAbilities=false" class="banner">
			<span>Map gear abilitiy</Span><br>
			<button ng-click="showMapGearAbilities = !showMapGearAbilities">{{showMapGearAbilities ? "hide" : "show"}}</button>
			<div ng-show="showMapGearAbilities">
				<div class="block">	
					<div>
						<label class="title-label">Gear</label>
						<select
							ng-model="itemToMap"
							ng-options="item as item.name for item in allGearV2"
						>
						</select>
					</div>
					<div>
					<div>{{abilityToMap.text}}</div>
						<label class="title-label">Ability</label>
						<select
							style="max-width:30%;"
							ng-model="abilityToMap"
							ng-options="ability as ability.text for ability in allGearAbilities"
						>
						</select>
					</div>
				</div>
				<button ng-click="mapGearToAbility(itemToMap.id, abilityToMap.id)">Add</button>
			</div>
		</div>	
	</div>
</div> 
		<!--Load JS files-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<script src="js/dataAccess.js"></script>
		<script src="js/dataBuilder.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.15/angular-filter.min.js"></script>
	</body>
</html>