<html>
    <head>
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700" type="text/css">
		
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" crossorigin="anonymous">
		<link href="../css/ArmyBuilder.css" rel="stylesheet" type="text/css">
		<title>Army Builder Tools</title>
		
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.5,user-scalable=yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="HandheldFriendly" content="true">
	</head>
    
	<body  class="transparent" ng-app="armyBuilder" ng-controller="builderCtrl">
		<div class="col-md-12">
			<div class="col-md-3"></div>
			<div class="col-md-6 centeredParent">
				<h1 class="centered">Army Builder Tools</h1>
			</div>
			<div class="col-md-3"></div>
		</div>

<div class="banner">
<div>
<div class="block">
	<label class="title-label">Game:</label class="title-label">
	<input style="width:175px;" ng-model="game"></input>
</div>

<div class="block">		
	<label class="title-label">Faction:</label class="title-label">
	<input ng-model="faction"></input>
</div>

<div class="block">		
	<label class="title-label">Name:</label class="title-label">
	<input ng-model="myUnit.Name"></input>
</div>

<div class="block">		
	<label class="title-label">Number of Models:</label class="title-label">
	<input ng-model="myUnit.NumberOfModels"></input>
</div>

<div class="block">		
	<label class="title-label">Cost:</label class="title-label">
	<input ng-model="myUnit.Cost"></input>
</div>

<div class="block">		
	<!-- Todo replace with json-picker-->
	<label class="title-label">Abilities:</label class="title-label">
	<input ng-model="myUnit.Abilities"></input>
</div>

<div class="block">	
	<!-- Todo replace with json-picker-->
	<label class="title-label">AddOns:</label class="title-label">
	<input ng-model="myUnit.AddOns"></input>
</div>
		
<div class="block">	
	<label class="title-label">Gear</label class="title-label">
	<json-picker new-model="gearModel" type="array" output="myUnit.Gear" existing-data="gear" new-json="gearJson"></json-picker>
</div>
		
<div class="block">	
	<!-- Todo replace with json-picker-->
	<label class="title-label">Powers:</label class="title-label">
	<input ng-model="myUnit.Powers"></input>
</div>
<br>
</div>
</div>
		 gear:{{myUnit.Gear}}<br>
		
		<div ng-show="gearJson">
			<h3>New Gear:</h3>
			<textarea style="width:210px; height:255px;" ng-model="gearJson"></textarea>
		</div>
		<!--Load JS files-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<script src="js/ngComponents.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.15/angular-filter.min.js"></script>
	</body>
</html>